In [1]:
import pandas as pd

df = pd.read_csv("../titanic.csv",usecols=["Sex"])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [9]:
pd.get_dummies(df,drop_first=True).replace(to_replace=[True,False],value=[1,0])

    Sex_male
0          1
1          0
2          0
3          0
4          1
..       ...
886        1
887        0
888        0
889        1
890        1

[891 rows x 1 columns]