In [1]:
import datetime
import pandas as pd

In [3]:
today_date = datetime.datetime.today()
today_date

datetime.datetime(2024, 9, 28, 13, 27, 8, 818209)

In [5]:
# List Comprehension
days = [today_date-datetime.timedelta(x) for x in range(0,15)]

In [7]:
df = pd.DataFrame(days,columns=["Date"])
df.head()

                        Date
0 2024-09-28 13:27:08.818209
1 2024-09-27 13:27:08.818209
2 2024-09-26 13:27:08.818209
3 2024-09-25 13:27:08.818209
4 2024-09-24 13:27:08.818209

In [31]:
df["Day"]=df["Date"].dt.day_name()
df.head()

                        Date        Day
0 2024-09-28 13:27:08.818209   Saturday
1 2024-09-27 13:27:08.818209     Friday
2 2024-09-26 13:27:08.818209   Thursday
3 2024-09-25 13:27:08.818209  Wednesday
4 2024-09-24 13:27:08.818209    Tuesday

In [37]:
# {k:i for i,k in enumerate(df["Day"].unique(),0)}
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [39]:
df["Day_Ordinal"] = df["Day"].map(dictionary)
df.head()

                        Date        Day  Day_Ordinal
0 2024-09-28 13:27:08.818209   Saturday            6
1 2024-09-27 13:27:08.818209     Friday            5
2 2024-09-26 13:27:08.818209   Thursday            4
3 2024-09-25 13:27:08.818209  Wednesday            3
4 2024-09-24 13:27:08.818209    Tuesday            2