#### <b><code>Probability Ratio Encoding</code></b>
<pre>1. Probability of Survived based on Cabin--- Categorical Feature
2. Probability of Not Survived---1-pr(Survived)
3. pr(Survived)/pr(Not Survived)4
4. Dictonary to map cabin with probability
5. replace with the categorical feature</pre>

In [32]:
import pandas as pd

df=pd.read_csv('../../titanic.csv',usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [33]:
df["Cabin"].fillna("Missing",inplace=True)
df.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_15440\54614453.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Cabin"].fillna("Missing",inplace=True)

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [34]:
df["Cabin"] = df["Cabin"].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [35]:
df["Cabin"].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [36]:
prob_df = df.groupby(["Cabin"])["Survived"].mean()
prob_df = pd.DataFrame(prob_df)
prob_df.head()

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000

In [37]:
prob_df["Died"] = 1 - prob_df["Survived"]
prob_df.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [38]:
prob_df["Prob_ratio"] = prob_df["Survived"]/prob_df["Died"]
prob_df.head()

       Survived      Died  Prob_ratio
Cabin
A      0.466667  0.533333    0.875000
B      0.744681  0.255319    2.916667
C      0.593220  0.406780    1.458333
D      0.757576  0.242424    3.125000
E      0.750000  0.250000    3.000000

In [39]:
probability_encoded=prob_df['Prob_ratio'].to_dict()

In [40]:
df['Cabin_encoded']=df['Cabin'].map(probability_encoded)
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274